<!DOCTYPE HTML>
<html>
<head>
<title>Sign Up</title>
<link href="{{ url_for('static', filename='styleSignup.css') }}" rel="stylesheet" type="text/css" media="all"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
</head>
<style type="text/css">
	.login-bottom input[type="email"] {
    font-size: 1.2em;
    width: 90%;
    padding: .5em .8em;
    outline: none;
    background: #eaeaea;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif
}
</style>
<body>
{% block body %}

{% endblock %}
</body>
</html>
